.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 100%;

  @include media-from(768) {
    max-width: 768px;
  }

  @include media-from(1024) {
    max-width: 1024px;
  }

  @include media-from(1440) {
    max-width: 1440px;
    padding: 0 75px;
  }

  @include media-from(1920) {
    max-width: 1920px;
    padding: 0 315px;
  }
}
