.headline {
  text-align: center;
  &__title {
    &--h1 {
      @include font-heading-h1;

      @include media-from(768) {
        text-transform: uppercase;
        text-align: left;
      }
    }

    &--h2 {
      @include font-heading-h2;

      color: $color-pink-primary;
      text-transform: uppercase;
    }

    &--h3 {
      @include font-heading-h3;
      color: $color-pink-primary;
      text-align: center;
    }

    &--h4 {
      @include font-title-menu;

      color: $color-pink-primary;
    }

    &--h2-no-light {
      @include font-subtitle-no-light;
      color: $color-pink-primary;
      text-align: center;
    }

    &--h2-no-light-sm {
      @include font-title-footer;
      color: $color-pink-primary;
    }
  }
  &__subtitle {
    &--bg {
      @include font-subtitle;

      @include media-from(768) {
        text-align: left;
      }
    }

    &--md {
      @include font-text-footer;

      text-align: end;
      color: $color-black-tertiary;
    }

    &--sm {
      @include font-title-menu;

      color: $color-pink-primary;
    }

    &--lg {
      @include font-subtitle-sm;
      color: $color-white;
      text-align: center;
    }
  }

  &__accent {
    &--pink {
      color: $color-pink-primary;
    }
  }
}
