.menu {
  background-color: $color-black-next-background;
  color: $color-white;
  padding-top: 40px;
  padding-bottom: 34px;

  @include media-from(1024) {
    padding-top: 48px;
  }

  @include media-from(1440) {
    padding-bottom: 65px;
  }
  @include media-from(1920) {
    padding-bottom: 146px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    @include media-from(1024) {
      display: flex;
      justify-content: space-between;
      gap: 33px;
    }
  }

  &__star {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__img-star {
    display: none;

    @include media-from(768) {
      display: block;
      position: absolute;
      top: -40px;
      right: -10px;
      z-index: 1;
    }

    @include media-from(1920) {
      top: -80px;
    }
  }

  &__foto {
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 48px -1px $color-pink-primary;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 36px;
    z-index: 2;
    width: 282px;
    height: 200px;

    @include media-from(425) {
      width: 385px;
      height: 300px;
    }

    @include media-from(768) {
      width: 500px;
      height: 350px;
      margin-top: 90px;
      margin-bottom: 50px;
    }

    @include media-from(1024) {
      width: 320px;
      height: 340px;
      margin-top: 120px;
      order: 1;
    }

    @include media-from(1440) {
      width: 520px;
      height: 426px;
      margin-top: 120px;
      order: 1;
    }
  }

  &__list {
    @include media-from(768) {
      padding-left: 52px;
      padding-right: 68px;
    }

    @include media-from(1024) {
      margin-top: 112px;
      margin-bottom: 123px;
      order: -1;
      flex-grow: 1;
      padding-left: 0px;
      padding-right: 0px;
    }

    @include media-from(1440) {
      margin-top: 136px;
      margin-bottom: 52px;
    }
  }

  &__headline {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    @include font-text-menu;

    max-width: 170px;

    @include media-from(1024) {
      max-width: 300px;
    }

    @include media-from(1440) {
      margin-bottom: 30px;
    }
  }

  &__button {
    @include font-text-secondary;
    background-color: $color-black-next-background;
    border: 2px solid $color-pink-primary;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    @include media-from(768) {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    @include media-from(1024) {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 30px;
    }
  }

  &__link {
    @include font-text-secondary;

    text-align: center;
    text-decoration: underline;

    @include media-from(1024) {
      margin-bottom: 59px;
    }
  }
}
