.footer {
  background-color: $color-black;
  color: $color-white;
  padding-bottom: 50px;
  padding-top: 50px;

  @include media-from(425) {
    padding-top: 0;
  }
  &__maps {
    min-height: 248px;
    object-fit: cover;

    @include media-from(425) {
      height: 293px;
    }

    @include media-from(768) {
      height: 400px;
    }

    @include media-from(1024) {
      height: 500px;
    }

    @include media-from(1440) {
      height: 600px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
  }

  &__title {
    margin-top: 40px;
    margin-bottom: 20px;

    @include media-from(425) {
      margin-bottom: 30px;
    }

    @include media-from(768) {
      margin-top: 50px;
    }
  }

  &__address,
  &__number,
  &__text {
    @include font-text-footer;
    font-style: normal;
  }

  &__wrap {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $color-white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 6px 6px #e1078b;
      margin-bottom: 10px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}
