$color-white: #ffffff;
$color-black: #000000;
$color-black-secondary: #0f1f2f;
$color-black-tertiary: #243d55;
$color-black-next-background: #020f1c;
$color-black-light: #09090a;
$color-grey: #c4c4c4;
$color-pink-primary: #d6258f;
$color-pink-secondary: #f32e7c;
$color-pink-tertiary: #ff26c2;
$color-pink-light: #fb37ff;
