$font-family-secondary: "Lumberjack";
$font-family-base: "Roboto Condensed";

$font-weight-regular: 400;

$font-size-h1: 92px;
$font-size-h2: 64px;
$font-size-h3: 24px;
$font-size-subtitle: 48px;
$font-size-subtitle-desktop-sm: 40px;
$font-size-h1-tablet: 68px;
$font-size-h2-tablet: 36px;
$font-size-h3-tablet-mobile: 18px;
$font-size-h1-mobile: 36px;
$font-size-h2-mobile: 34px;
$font-size-h3-mobile: 20px;
$font-size-text: 20px;
$font-size-text-mobile: 16px;
$font-size-text-mobile-secondary: 14px;

$line-height-h1: 103px;
$line-height-h2: 75px;
$line-height-h3: 28px;
$line-height-subtitle: 57px;
$line-height-subtitle-desktop: 47px;
$line-height-h1-tablet: 80px;
$line-height-h2-tablet-mobile: 42px;
$line-height-h3-tablet-mobile: 21px;
$line-height-h3-mobile: 24px;
$line-height-text: 23px;
$line-height-text-mobile: 19px;
$line-height-text-mobile-secondary: 16px;
$line-height-text-button-mobile: 15px;
$line-height-title-footer-tablet: 56px;

@mixin font-text-navigation {
  font-size: $font-size-text-mobile-secondary;
  line-height: $line-height-text-button-mobile;

  @include media-from(425) {
    font-size: $font-size-text-mobile;
    line-height: $line-height-text-mobile;
  }

  @include media-from(768) {
    font-size: $font-size-text;
    line-height: $line-height-h3-mobile;
  }
}

@mixin font-heading-h1 {
  font-size: $font-size-h1-mobile;
  line-height: $line-height-h2-tablet-mobile;
  color: $color-pink-primary;
  -webkit-text-stroke: 0.1px $color-white;
  text-shadow: 0 0 9px $color-pink-light;
  text-shadow: 0 0 9px $color-pink-primary;
  text-shadow: 0 6px 9px $color-pink-tertiary;

  @include media-from(768) {
    font-size: $font-size-h1-tablet;
    line-height: $line-height-h1-tablet;
  }
  @include media-from(1024) {
    font-size: $font-size-h1;
    line-height: $line-height-h1;
  }
}

@mixin font-subtitle {
  font-size: $font-size-h3;
  line-height: $line-height-h3;

  @include media-from(768) {
    font-size: $font-size-h2-tablet;
    line-height: $line-height-h2-tablet-mobile;
  }

  @include media-from(1024) {
    font-size: $font-size-subtitle-desktop-sm;
    line-height: $line-height-subtitle-desktop;
  }

  @include media-from(1440) {
    font-size: $font-size-subtitle;
    line-height: $line-height-subtitle;
  }
}

@mixin font-subtitle-sm {
  font-size: $font-size-h3;
  line-height: $line-height-h3;

  @include media-from(768) {
    font-size: $font-size-h2-tablet;
    line-height: $line-height-h2-tablet-mobile;
  }
}

@mixin font-subtitle-no-light {
  font-size: $font-size-h1-mobile;
  line-height: $line-height-h2-tablet-mobile;
  color: $color-pink-primary;

  @include media-from(768) {
    font-size: $font-size-subtitle;
    line-height: $line-height-title-footer-tablet;
  }

  @include media-from(1024) {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
  }
}

@mixin font-heading-h2 {
  font-size: $font-size-h1-mobile;
  line-height: $line-height-h2-tablet-mobile;
  color: $color-pink-primary;
  -webkit-text-stroke: 0.1px $color-white;
  text-shadow: 0 0 9px $color-pink-light;
  text-shadow: 0 0 9px $color-pink-primary;
  text-shadow: 0 6px 9px $color-pink-tertiary;

  @include media-from(1024) {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
  }
}

@mixin font-heading-h2-menu {
  font-size: 32px;
  line-height: $line-height-h2-tablet-mobile;
  -webkit-text-stroke: 0.1px $color-white;
  text-shadow: 0 0 9px $color-pink-light;
  text-shadow: 0 0 9px $color-pink-primary;
  text-shadow: 0 6px 9px $color-pink-tertiary;

  @include media-from(1024) {
    font-size: 64px;
    line-height: 75px;
  }
}

@mixin font-base-text {
  font-size: $font-size-text-mobile-secondary;
  line-height: $line-height-text-mobile-secondary;

  @include media-from(425) {
    font-size: $font-size-text-mobile;
    line-height: $line-height-text-mobile;
  }

  @include media-from(768) {
    font-size: $font-size-h3-tablet-mobile;
    line-height: $line-height-h3-tablet-mobile;
  }

  @include media-from(1440) {
    font-size: $font-size-text;
    line-height: $line-height-h3-mobile;
  }
}

@mixin font-heading-h3 {
  font-size: $font-size-h3-mobile;
  line-height: $line-height-h3-mobile;

  @include media-from(768) {
    font-size: $font-size-h3;
    line-height: $line-height-h3;
  }
}

@mixin font-text-menu {
  font-size: $font-size-text-mobile-secondary;
  line-height: $line-height-text-mobile-secondary;

  @include media-from(768) {
    font-size: $font-size-text-mobile;
    line-height: $line-height-text-mobile;
  }

  @include media-from(1024) {
    font-size: $font-size-h3-tablet-mobile;
    line-height: $line-height-h3-tablet-mobile;
  }
}
@mixin font-title-menu {
  font-size: $font-size-h3-tablet-mobile;
  line-height: $line-height-h3-tablet-mobile;

  @include media-from(768) {
    font-size: $font-size-text;
    line-height: $line-height-text;
  }
  @include media-from(1024) {
    font-size: $font-size-h3;
    line-height: $line-height-h3;
  }
}

@mixin font-text-secondary {
  font-size: $font-size-text-mobile-secondary;
  line-height: $line-height-text-button-mobile;

  @include media-from(425) {
    font-size: $font-size-h3-tablet-mobile;
    line-height: $line-height-h3-tablet-mobile;
  }
  @include media-from(768) {
    font-size: $font-size-h3;
    line-height: $line-height-h3;
  }
}

@mixin font-text-h2-secondary {
  font-size: $font-size-h1-mobile;
  line-height: $line-height-h2-tablet-mobile;

  @include media-from(1024) {
    font-size: $font-size-subtitle;
    line-height: $line-height-subtitle;
  }
}

@mixin font-text-footer {
  font-size: $font-size-text-mobile;
  line-height: $line-height-text-mobile;

  @include media-from(425) {
    font-size: $font-size-h3-tablet-mobile;
    line-height: $line-height-h3-tablet-mobile;
  }

  @include media-from(768) {
    font-size: $font-size-h3;
    line-height: $line-height-h3;
  }
}

@mixin font-title-footer {
  font-size: $font-size-h1-mobile;
  line-height: $line-height-h2-tablet-mobile;

  @include media-from(1024) {
    font-size: $font-size-subtitle;
    line-height: $line-height-title-footer-tablet;
  }
}
